@page
@model WortexLogistics.Pages.TruckCargos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TruckCargo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TruckCargo.TcargoName" class="control-label"></label>
                <input id="TcargoName" asp-for="TruckCargo.TcargoName" class="form-control" />
                <span asp-validation-for="TruckCargo.TcargoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckCargo.TcargoCount" class="control-label"></label>
                <input id="TcargoCount" asp-for="TruckCargo.TcargoCount" class="form-control" />
                <span asp-validation-for="TruckCargo.TcargoCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckCargo.TcargoWeight" class="control-label"></label>
                <input id="TcargoWeight" asp-for="TruckCargo.TcargoWeight" class="form-control" />
                <span asp-validation-for="TruckCargo.TcargoWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckCargo.TcargoOrigin" class="control-label"></label>
                <input id="TcargoOrigin" asp-for="TruckCargo.TcargoOrigin" class="form-control" />
                <span asp-validation-for="TruckCargo.TcargoOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckCargo.TcargoDestination" class="control-label"></label>
                <input id="TcargoDestination" asp-for="TruckCargo.TcargoDestination" class="form-control" />
                <span asp-validation-for="TruckCargo.TcargoDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
