@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<CascadingAuthenticationState>
    <AuthorizeView Roles="manager">
        <p>Role: manager</p>
    </AuthorizeView>
</CascadingAuthenticationState>